@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(225, 225, 219);
    padding: 25px;
}

.cutText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cards {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 1rem;
    justify-items: center;
    justify-content: space-evenly;
}